body {
  font-family: monospace;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.card {
  background: rgba(100, 0, 150, 0.2);
  border: 2px solid #a020f0;
  border-radius: 15px;
  padding: 20px;
  max-width: 350px;
  margin: 20px auto;
  box-shadow: 0 0 20px #a020f0;
}

/* Logo teks */
.logo {
  font-size: 40px;
  font-weight: bold;
  color: #a020f0;
  text-shadow: 0 0 5px #a020f0, 0 0 10px #d070ff, 0 0 20px #ff00ff;
  margin-bottom: 15px;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  from { opacity: 1; }